// Palette
$primary-color: hsl(40, 100%, 95%)
$secondary-color: hsl(0, 0%, 15%)

$spacing-small: 0.5rem
$spacing-medium: 1rem
$spacing-large: 2rem

// Reset
*
    padding: 0
    margin: 0
    box-sizing: border-box

// Main

#app
    background: #4c3842
    font-family: Arial, Helvetica, sans-serif
    width: 100%
    height: 100vh
    display: flex

.sidebar
    flex: 15rem
    min-width: 20rem
    padding: $spacing-medium
    border-right: 1px solid #363636
    background-color: $secondary-color
    color: $primary-color
    display: flex
    flex-direction: column
    gap: $spacing-medium

    details
        display: flex
        flex-direction: column
        gap: $spacing-medium
    input
        padding: $spacing-small

    summary
        cursor: pointer
        background-color: lighten($secondary-color, 10)
        padding: $spacing-small
        user-select: none

    ul
        list-style: none
        flex-direction: column
        display: flex
        gap: $spacing-small

    li
        display: flex
        flex-wrap: wrap
        gap: $spacing-small
        padding: $spacing-small
        input
            flex: auto
        &:hover
            background-color: lighten($secondary-color, 20)

    label
        cursor: pointer
        padding: $spacing-small

#game-view
    display: block
    width: 100%
    height: 100%

.bounds
    fill: transparent
    stroke: $primary-color
    stroke-width: 1

.constraint
    &:hover
        stroke: red

.particle

    &:hover
        fill: rgb(255, 158, 236)
